<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
    <!-- this is header -->
    <nav class="navbar navbar-dark bg-dark">

        <div class="container">
            <div class="col-2">
                <a class="navbar-brand" th:href="@{/}">DevBook</a>
            </div>
            <div class="col-7">
                <form th:action="@{/search}" method="get">
                  
                    <div class="input-group">
                        <input type="text" name="searchQuery" class="form-control" placeholder="Search for..." aria-label="Search for..."/>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-secondary">Go!</button>
                        </span>
                    </div>

                </form>
            </div>
            <div class="col-3">
                <a th:href="@{/logout}">Sign Out</a>
            </div>
        </div>
    </nav>

</div>
</body>
</html>