<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="userposts">
    <!--userposts start-->
    <div th:each="post : ${postList}">
        <br/>

        <div class="card text-center">
            <div class="card-body">
                <p class="card-text" th:text="${post.getBody()}"></p>
            </div>
            <div class="card-footer text-muted">
                <span th:text="${post == null ? '' : post.getDateString()}"></span>
            </div>
        </div>
        <div class="input-group" th:each="comment : ${post.getCommentList()}">
            <div class="col-3">
                <input class="input-group-addon" id="basic-addon3" th:value="${comment.getCommentPosterFirstName()} + ' ' + ${comment.getCommentPosterLastName()}"></input>
            </div>
            <div class="col-6">
                <p th:text="${comment.getBody()}" th:disabled="true"/>
            </div>
            <div class="col-3">
                <div class="card-footer text-muted">
                    <input th:value="${comment == null ? '' : comment.getDateString()}"></input>
                </div>
            </div>
        </div>
        <form th:action="@{/user/addcomment}" method="post">
            <div class="input-group">
                <input type="hidden" id="postId" name="postId" th:value="${post.get_id()}"/>
                <input type="hidden" id="commentUserId" name="commentUserId" th:value="${#authentication.getPrincipal().get_id()}"/>
                <input type="hidden" id="postUserId" name="postUserId" th:value="${user.get_id()}"/>
                <input type="text" class="form-control" id="commentBody" name="commentBody" placeholder="Your comment" required="true"/>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Comment</button>
                </span>
            </div>
        </form>
        <!--post comments end-->


        <br/>
    </div>
    <!--userposts end-->
</div>

</body>
</html>