<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DevBook</title>

    <div th:replace="fragments/header :: head"/>

</head>
<body>

<div th:replace="fragments/navbar :: navbar"/>

<div class="container">
    <div class="row">

        <div class="col-2">

            <div class="card">
                <img class="card-img-top" th:src="${user.getProfileImageUrl()}" alt="User Profile Picture"/>
            </div>


            <div th:replace="fragments/sidemenu :: sidemenu"/>
        </div>


        <div class="col-6">
            <!--user header start-->
            <div class="card mb-3">
                <img class="card-img-top" th:src="${user.getHeaderImageUrl()}" alt="Card image cap"/>
                <div class="card-body">
                    <h4 class="card-title">
                        <span th:text="${user.getFirstName()}"> </span>
                        <span th:text="${user.getLastName()}"> </span>
                        <span th:text="${user.getCurrentStatus()}" style="color:#007bff"></span>
                    </h4>
                    <p class="card-text">
                        <span th:text="${user.getSummary()}"></span>
                    <div th:if="${user.get_id()} != ${#authentication.getPrincipal().get_id()}">

                    <form th:action="@{/user/addToFriends}" method="post">
                        <input type="hidden" id="originUserId" name="originUserId" th:value="${#authentication.getPrincipal().get_id()}"/>
                        <input type="hidden" id="targetUserId" name="targetUserId" th:value="${user.get_id()}"/>

                        <button type="submit" class="btn btn-primary btn-sm">Send Friend Request</button>
                    </form>

                    </div>

                    </p>
                </div>
            </div>
            <!--user header end-->

            <!--Post TextField Start-->

            <div th:if="${user.get_id()} == ${#authentication.getPrincipal().get_id()}">
                <br/>

                <form th:action="@{/user/addpost}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="userId" th:value="${#authentication.getPrincipal().get_id()}"/>
                        <textarea class="form-control" id="postBody" name="postBody" placeholder="How are you?" rows="3" required="true"></textarea>
                    </div>

                    <button type="submit" class="btn btn-secondary btn-lg">Post</button>
                </form>
            </div>

            <!--Post TextField End-->

            <!--Post Start-->

            <div th:each="post : ${postList}">
                <br/>

                <div  class="card text-center">
                    <div class="card-body">
                        <p class="card-text" th:text="${post.getBody()}"></p>
                    </div>
                    <div class="card-footer text-muted">
                        <span th:text="${post == null ? '' : post.getDateString()}"></span>
                    </div>
                </div>

                <br/>
            </div>

            <!--Post end-->
        </div>
        <div class="col-4">

            <!--Skills start-->
            <br/>
            <h3>My Skills</h3>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <div th:each="skill : ${user.getSkills()}">
                        <h4 class="card-title" th:text="${skill.getSkillName()}"></h4>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${skill.getSkillDescription()}"></h6>
                    </div>
                </div>
            </div>
            <!--Skills end-->



        </div>

    </div>


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>