<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DevBook</title>
    <div th:replace="fragments/header :: head"/>
</head>
<body>

<!--navbar start-->
<div th:replace="fragments/navbar :: navbar"/>
<!--navbar end-->

<div class="container">
    <div class="row">

        <div class="col-2">

            <!--user profile image start-->
            <div th:replace="fragments/userprofileimage :: userprofileimage"/>
            <!--user profile image end-->

            <!--SideMenu start-->
            <div th:replace="fragments/sidemenu :: sidemenu"/>
            <!--SideMenu end-->

        </div>

        <div class="col-6">

            <!--user header start-->
            <div th:replace="fragments/userheader :: userheader"/>
            <!--user header end-->

            <!--user post form start-->
            <div th:replace="fragments/userpostform :: userpostform"/>
            <!--user post form end-->

            <!--user posts start-->
            <div th:replace="fragments/userposts :: userposts"/>
            <!--user posts start-->

        </div>
        <div class="col-4">

            <!--Skills start-->
            <div th:replace="fragments/userskills :: userskills"/>
            <!--Skills end-->

            <!--userfriendsprofileimages start-->
            <div th:replace="fragments/userfriendslist :: userfriendslist"/>
            <!--userfriendsprofileimages end-->
        </div>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>