<!DOCTYPE HTML>
<style>
    .user-list{
        color:red;
    }
</style>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DevBook</title>

    <div th:replace="fragments/header :: head"/>

</head>
<body>

<div th:replace="fragments/navbar :: navbar"/>

<div class="container">

    <br/>

    <div class="starter-template">
        <h5>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h5>
        <h5>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h5>
        <h5>3. Visit <a th:href="@{/about}">Normal page</a></h5>
    </div>

    <div class="user-list">
        <tr th:each="user : ${userList}">
            <a th:href="${user.get_id()}">
                <td th:text="${user.getFirstName()}" ></td>
                <td th:text="${user.getLastName()}" ></td>
            </a>
        </tr>
    </div>







</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>