<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DevBook</title>

    <div th:replace="fragments/header :: head"/>

</head>
<body>

<div th:replace="fragments/navbar :: navbar"/>

<div class="container">

    <div class="col">
        <br/>
        <h2>Friend Requests</h2>
        <div th:each="friendRequest : ${friendRequestsList}">

            <div class="form-row align-items-center">

                <div class="col-2">
                    <div class="card">
                        <img class="card-img-top" th:src="${friendRequest.getOriginUserProfileImageUrl()}"/>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card">
                        <p class="card-img-top" th:text="${friendRequest.getDateString()}"></p>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card">
                        <p>accept friend request</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>