<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DevBook</title>

    <div th:replace="fragments/header :: head"/>

</head>
<body>

<div th:replace="fragments/userhomenavbar :: navbar"/>

<div class="container">


    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="/img/sampleprofilepicture.png" width="200" alt="Card image cap"/>
                <div class="card-body">
                    <h4 class="card-title">
                        <span th:text="${#authentication.getPrincipal().getFirstName()}"></span>
                        <br/>
                        <span th:text="${#authentication.getPrincipal().getLastName()}"></span>
                    </h4>
                    <p class="card-text">Innovator of next-generation solutions, systems and applications giving
                        companies a competitive edge and producing outstanding results for customers.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">

            <br/>

            <!--Post TextField Start-->
            <form>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Co slychac first name?" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-secondary btn-lg">Post</button>
            </form>
            <!--Post TextField End-->
            <!--Post Start-->

            <br/>

            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>

            <br/>

            <!--Post end-->
            <!--Post Start-->

            <br/>

            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted">
                    3 days ago
                </div>
            </div>

            <br/>

            <!--Post end-->
            <!--Post Start-->

            <br/>

            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted">
                    5 days ago
                </div>
            </div>

            <br/>

            <!--Post end-->


        </div>
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Java
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Css
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Html
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul>
        </div>

    </div>


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>