<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DevBook</title>

    <div th:replace="fragments/header :: head"/>

</head>
<body>

<div th:replace="fragments/navbar :: navbar"/>

<div class="container">
    <div class="row">
        <div class="col-8">
            <!--user header start-->
            <div class="card mb-3">
                <img class="card-img-top" src="https://media-exp1.licdn.com/media/AAEAAQAAAAAAAAt-AAAAJDNmZGRhOTgwLTUwMmEtNGM3My1iNTUzLTU1NzdlYTZmZjgyYQ.jpg" alt="Card image cap"/>
                <div class="card-body">
                    <h4 class="card-title">
                        <span th:text="${user.getFirstName()}"> </span>
                        <span th:text="${user.getLastName()}"> </span>
                        <span style="color:#007bff"> - currently looking for Java Job </span>
                    </h4>
                </div>
            </div>
            <!--user header end-->
            <!--Post TextField Start-->
            <br/>

            <form>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Co slychac first name?" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-secondary btn-lg">Post</button>
            </form>
            <!--Post TextField End-->
            <!--Post Start-->

            <br/>

            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>

            <br/>

            <!--Post end-->
            <!--Post Start-->

            <br/>

            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted">
                    3 days ago
                </div>
            </div>

            <br/>

            <!--Post end-->
            <!--Post Start-->

            <br/>

            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted">
                    5 days ago
                </div>
            </div>

            <br/>

            <!--Post end-->
        </div>
        <div class="col-4">

            <!--Skills start-->
            <br/>
            <h3>My Skills</h3>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Java</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Maven, Spring, Hibernate</h6>
                    <h4 class="card-title">Frontend</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Angular, HTML, CSS</h6>
                </div>
            </div>
            <!--Skills end-->


            <!--SideMenu start-->
            <br/>
            <h3>Actions</h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="#">Messages</a>
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="#">Edit Profile</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="#">Friends</a>
                </li>
            </ul>
            <!--SideMenu end-->
        </div>

    </div>


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>