<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DevBook</title>

    <div th:replace="fragments/header :: head"/>

</head>
<body>

<div th:replace="fragments/navbar :: navbar"/>

<div class="container">

        <br/>
        <div class="row">
            <div class="col-1">
                <div class="card" style="">
                          <img class="card-img-top"
                               th:src="${targetUser.getProfileImageUrl()}"
                               alt="Target User Profile Image"/>
                </div>
            </div>
            <div class="col-7">
                <h2>Send Message to: <h4 class="card-title" th:text="${targetUser.getFirstName() + ' ' + targetUser.getLastName()}"></h4></h2>
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form th:action="@{/user/message}" method="post">

                    <div class="form-group">
                        <textarea class="form-control" name="message" id="message" rows="7" required="required">
                            <div th:remove="tag" th:if="${messageBody != null}">
                                <span th:text="${messageBody}" th:remove="tag"/>
                            </div>
                        </textarea>
                    </div>
                    <input type="hidden" th:value="${targetUserId}" name="targetUserId"/>

                    <button type="submit" class="btn btn-primary">Send Message</button>

                </form>
            </div>
        </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>