<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DevBook</title>

    <div th:replace="fragments/header :: head"/>

</head>
<body>

<div th:replace="fragments/navbar :: navbar"/>

<div class="container">

    <div class="col">
        <br/>
        <h2>Friend Requests</h2>
        <div th:each="friendRequest : ${friendRequestsList}">


            <form th:action="@{/user/friend}" method="post">
                <div class="row">
                    <div class="col-md-2">
                        <img class="card-img-top" style="width:100px;"
                             th:src="${friendRequest.getOriginUserProfileImageUrl()}"/>
                    </div>
                    <div class="col-md-3">
                        <h4 th:text="${friendRequest.getOriginUserFirstName()} + ' ' + ${friendRequest.getOriginUserLastName()}"></h4>
                        <span th:text="${friendRequest.getDateString()}"></span>
                    </div>
                    <div class="col-md-4">
                        <input type="hidden" name="originuserid" th:value="${friendRequest.getOriginUserId()}"/>
                        <input type="hidden" name="targetuserid" th:value="${friendRequest.getTargetUserId()}"/>

                        <button type="submit" class="btn btn-dark">Accept Friend Request</button>
                        <button type="button" class="btn btn-danger">Delete Friend Request</button>
                    </div>
                </div>

            </form>

            <br/>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>